#**Week 1 - Pandas Practice**

Here is where you import the libraries necessary to perform the following tasks!

In [ ]:
import pandas as pd
import seaborn as sns

Load the Google Forms .csv into a Pandas dataframe.

In [ ]:
df =

Print out the .head() and the datatypes.

Change the column names of the dataframe to better reflect the content.

Drop the timestamp column (set axis = 1 as second argument)

If necessary, clean the data of any irregular values (e.g. non-numerical number of pets, incorrectly-formatted state info)

What are the value counts of each state?

If people left the country column blank, it's filled with an NaN and that means they're American. Fill these NaN values with 'USA'.

How many Americans are there? How about non-Americans?

What is the mean graduation year?

What is the median number of pets?

What is the max and min number of roommates?

Find the 5 members who have attended the greatest amount of Michigan Football Games. Hint: use .sort_values()

Now find the 5 members who have attended the least Michigan Football Games.

What is the percentage of people who have 1 pet compared to the entire population?

What is the correlation between number of roommates and graduation year?

Graph the number of people we have from each state using seaborn (Hint: create a bar chart/histogram)

When you're done, help the other people around you :)

#***Extra Exercises***

Congratulations on powering through your first work session as a member of the Fall 2025 Michigan Data Science Team!!

Now that you've had some hands-on experience manipulating and exploring structured data (which we conveniently gave to you in a tidy .csv file), it's time to bring those skills to some unstructured data.

Provided below is a list of people and some of their attributes. Using this information and the Pandas Cheat Sheet, create a structured dataframe containing each person and their features. After you do this, research the same questions we looked at for the Criminal Risk Assessment team member data, as well as any other questions that may interest you.

***NOTE:*** If you don't want to type out all of the columns, focus on a handful of attributes that are most interesting to you (i.e. year, coding experience, coffee consumption)

**Happy coding!!**

1. Name: Robert, Sex: Male, Major: DS, Year: 2029, State: N/A, Country: Canada, Coding Experience: 2, Pets: 2, Credits: 18, Roommates: 3, Games Attended: 53, Cups of Coffee Drank Today: 0

2. Name: Prasana, Sex: Female, Major: Information Analysis, Year: 2026, State: Colorado, Country: N/A, Coding Experience: 8, Pets: 0, Credits: 14, Roommates: 1, Games Attended: 3, Cups of Coffee Drank Today: 6

3. Name: Theodore, Sex: Male, Major: CS, Year: 2027, State: Michigan, Country: N/A, Coding Experience: 0, Pets: 0, Credits: 17, Roommates: 2, Games Attended: 0, Cups of Coffee Drank Today: 1

4. Name: Andrea, Sex: Female, Major: DS, Year: 2029, State: Michigan, Country: N/A, Coding Experience: 2, Pets: 3, Credits: 15, Roommates: 2, Games Attended: 4, Cups of Coffee Drank Today: 1

5. Name: Andrea, Sex: Female, Major: DS, Year: 2027, State: Michigan, Country: N/A, Coding Experience: 1, Pets: 6, Credits: 15, Roommates: 1, Games Attended: 3, Cups of Coffee Drank Today: 0

6. Name: Maya, Sex: Female, Major: CS, Year: 2028, State: California, Country: N/A, Coding Experience: 5, Pets: 1, Credits: 16, Roommates: 2, Games Attended: 12, Cups of Coffee Drank Today: 3

7. Name: Daniel, Sex: Male, Major: Information Analysis, Year: 2027, State: N/A, Country: India, Coding Experience: 7, Pets: 0, Credits: 15, Roommates: 1, Games Attended: 6, Cups of Coffee Drank Today: 2

8. Name: Sofia, Sex: Female, Major: DS, Year: 2026, State: Texas, Country: N/A, Coding Experience: 3, Pets: 2, Credits: 18, Roommates: 3, Games Attended: 25, Cups of Coffee Drank Today: 1

9. Name: Liam, Sex: Male, Major: CS, Year: 2029, State: Illinois, Country: N/A, Coding Experience: 1, Pets: 0, Credits: 12, Roommates: 4, Games Attended: 2, Cups of Coffee Drank Today: 4

10. Name: Aisha, Sex: Female, Major: Information Analysis, Year: 2028, State: N/A, Country: UAE, Coding Experience: 6, Pets: 1, Credits: 17, Roommates: 2, Games Attended: 9, Cups of Coffee Drank Today: 0

11. Name: Ethan, Sex: Male, Major: DS, Year: 2027, State: Ohio, Country: N/A, Coding Experience: 4, Pets: 1, Credits: 16, Roommates: 2, Games Attended: 7, Cups of Coffee Drank Today: 2

12. Name: Clara, Sex: Female, Major: CS, Year: 2028, State: N/A, Country: Germany, Coding Experience: 3, Pets: 0, Credits: 18, Roommates: 1, Games Attended: 11, Cups of Coffee Drank Today: 1

13. Name: Mateo, Sex: Male, Major: Information Analysis, Year: 2026, State: Florida, Country: N/A, Coding Experience: 6, Pets: 2, Credits: 14, Roommates: 3, Games Attended: 18, Cups of Coffee Drank Today: 5

14. Name: Yuna, Sex: Female, Major: DS, Year: 2029, State: N/A, Country: South Korea, Coding Experience: 2, Pets: 0, Credits: 13, Roommates: 2, Games Attended: 1, Cups of Coffee Drank Today: 0

15. Name: Marcus, Sex: Male, Major: CS, Year: 2028, State: New York, Country: N/A, Coding Experience: 8, Pets: 1, Credits: 17, Roommates: 2, Games Attended: 22, Cups of Coffee Drank Today: 3